{
    "presets": [
        "react",
        "stage-1",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 Chrome versions"
                    ]
                }
            }
        ]
    ]
}