.jumbotron {
    margin: 0;
    padding: 2rem !important;
}

pre {
    white-space: pre-wrap;
}

/* Override the hljs-keyword style in the Citation section */
.hljs-keyword {
    font-weight: normal;
}


#data-example {
    max-width: 670px;
    margin: 0 auto;
}

.heading-link, .heading-link:hover, .heading-link:focus, .heading-link:active {
    color: inherit; /* Keeps the color the same as the regular text */
    text-decoration: underline; /* Adds an underline to the link */
}

.icon-small {
    font-size: 0.6em; /* Adjust the size of the icon */
}

html {
    scroll-behavior: smooth;
}
