.jumbotron {
    margin: 0;
    padding: 2rem !important;
}

pre, code {
    white-space: pre-wrap;
    font-weight: normal;
}

#data-example {
    max-width: 670px;
    margin: 0 auto;
}

.heading-link, .heading-link:hover, .heading-link:focus, .heading-link:active {
    color: inherit; /* Keeps the color the same as the regular text */
    text-decoration: underline; /* Adds an underline to the link */
}

.icon-small {
    font-size: 0.6em; /* Adjust the size of the icon */
}
